.login-wrapper {
  height: 100vh;
  color: white;
  text-align: center;
  padding-top: 20vh;
  background-color: #282e33;
}
.login-form{
  border: solid 1px white;
  border-radius: 15px;
  width: 90%;
  margin: auto;
  padding: 25px;
}
.login-form input,
.login-form button {
  margin: 5px;
}
.input-bar {
  background-color: #353c43;
  border: none;
}
